.imageDisplay{
  height: 15em;
  width:contain;
  padding:2%;
}
.exercise-container{

  display: flex;
  justify-content: center;
  padding:1%;
  z-index:0;

  position:relative;
  right:350px;
  top:100px;
}

.listItem{

  list-style-type: none;
  padding:2%;
  color:#a93c60;
}

.exerciseName{
  padding-left: 2%;
  color:#a93c60;
}

.title{

  /* height:12em; */
  font-size:3rem;
  font-weight:bolder;

  position:relative;
  left:320px;
  bottom:190px;
  display:flex;
  border:2px solid #a93c60;
  background-color:#a93c60;
  color:#e6d4d4;
  height:170px;
  width:700px;
  padding:7%;


}
